<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>D E A D</title>
    <style>
      body{
        background-color: black;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <img src="giphy.gif" alt="D.E.A.D" height="600" width="600" />
    <form action="/submit" method="post">
    <button class="button" type="submit">Click </button>
    </form>
  </body>
</html>
